$primary: #2ca895;
$secondary: #3c73b8;
$tertiary: #8f9194;
$quaternary: #f2f2f2;
$quinary: #666666;
$dark: #292929;
$denial: #9b1a06;
$process: #f5c434;
$white: #ffffff;
$hr: #cccccc;

$breakpoint-tablet: 768px;
$breakpoint-netbook: 959px;
$breakpoint-desktop: 1199px;
$breakpoint-desktopxl: 1400px;
