@import "../../styles/animations.scss";
@import "../../styles/variables.scss";

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .iconBlock {
    list-style: none;
    min-width: 50%;

    &:nth-child(1) {
      display: flex;
      justify-content: flex-start;
    }

    &:nth-child(2) {
      display: flex;
      justify-content: flex-end;
    }

    li {
      line-height: 3.25em;
      padding: 0 1em;

      i {
        color: $white;
      }

      &:nth-child(1) {
        padding-left: 0;
      }

      &:nth-child(3) {
        padding-right: 0;
      }
    }

    .imageContainer {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 1.5em;
        max-height: 1.5em;
        border-radius: 50%;
      }
    }
  }
}
