* {
  padding: 0;
  margin: 0;
  font-family: Roboto;
}

body {
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
  background-color: var(--blanco);
  width: 100%;
  min-width: 1000px;
  min-height: 100vh;
}

@media screen and (max-width: 720px) {
  body {
    min-width: unset;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar-thumb {
  background: var(--color-principal);
  border-radius: 10px;
}

#root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

* {
  padding: 0;
  margin: 0;
  font-family: Roboto;
}

h1 {
  font-family: Muli-SemiBold;
  font-size: 1.75em;
  line-height: 36px;
  color: #292929;
}

h2 {
  font-family: Muli-SemiBold;
  font-size: 1.125em;
  line-height: 28px;
  color: #292929;
}

h3 {
  font-family: Muli-SemiBold;
  font-size: 1.125em;
  line-height: 28px;
  color: #2ca895;
}

h6 {
  font-family: Muli-Regular;
  font-size: 0.875em;
  line-height: 20px;
  color: #8f9194;
}
